body, h2,h1,p{
    margin:0  ;
    padding:0 ;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
  text-decoration:none ;

}
.container{
    width: 1200px;
    margin-top: 0 auto;
}
.header{
    background-color:#aa43a2 ;
    padding:30px 0px  ;

}
.header-container{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    color:#fec830;
    font-size: 30px;
    font-weight: 700;

}
.header-link{
    font-size: 18px;
    color: black;
    padding:10px ;
    border-radius:4px ;
    background-color: rgb(247, 247, 247);
    box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); 
    cursor: pointer;
}
.header-link:hover{
    background-color:white ;
}
.header-list{
    display: flex;
    flex-direction: row;
    gap:20px;
}
