body, h2,h1,p{
    margin:0  ;
    padding:0 ;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
  text-decoration:none ;

}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    background-color:#aa43a2 ;
    padding:30px 0px  ;

}
.header-container{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    color:#fec830;
    font-size: 30px;
    font-weight: 700;

}
.header-link{
    font-size: 18px;
    color: black;
    padding:10px ;
    border-radius:4px ;
    background-color: rgb(247, 247, 247);
    box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); 
    cursor: pointer;
}
.header-link:hover{
    background-color:white ;
}
.header-list{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.main{
    background-color:#fdd875;
    padding:80px 0px 80px 0px  ;
}
.hero-wrap{
    background-color: white;
    padding: 25px 0px 25px 0px;
    border:1px solid gray;
    border-radius:20px;
    box-shadow: 0px 1px 1px RGB(0 0 0 / 12%), 0px 4px 4px RGB(0 0 0 / 6%), 1px 4px 6px RGB(0 0 0 / 16%);

}
.hero-title{
    text-align: center;
    font-size: 40px ;
}
.news{
background-color: rgb(247, 247, 247);
padding:30px  ;
margin-top:50px ;
border: 1px solid gray;
box-shadow: 0px 1px 1px RGB(0 0 0 / 12%), 0px 4px 4px RGB(0 0 0 / 6%), 1px 4px 6px RGB(0 0 0 / 16%);
border-radius: 20px;
}
.news-list{
    display: flex;
    justify-content: space-between ;

}
.news-item{
    width:330px  ;
    background-color: white ;
    padding:15px  ;
    border: rgb(224, 223, 223);
    border-radius: 8px; 

}
.news-img{
     width: 100%;
     height:240px  ;

}
.news-wrap{
    margin-top:30px  ;
    color: black;

}
.news-title{
    padding-bottom:15px ;
}
.footer{
    background-color: #aa43a2;
    padding:30px 0px 30px 0px  ;
    
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-logo{
   color:#fec830;
   font-size: 30px;
   font-weight: 700;
}
.footer-list{
  display: flex;
  flex-direction:row ;
  align-items: center;
  gap:20px; 

}
.footer-link{
    color:white;
    font-size: 20px ;
}
